@tailwind base;
@tailwind components;
@tailwind utilities;

.fullscreenmap {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus {
  outline: none;
}
